<div class="flex flex-row gap-4 text-4xl lg:text-3xl justify-center">
    <a target="_blank" href="mailto:marioruano25@gmail.com"> <i class="far fa-envelope"></i> </a>
    <a target="_blank" href="https://www.facebook.com/alemarioo/"><i class="fab fa-facebook-square"></i> </a>
    <a target="_blank" href="https://github.com/alemarioo"><i class="fab fa-github"></i> </a>
    <a target="_blank" href="https://www.instagram.com/alemario_/"><i class="fab fa-instagram"></i> </a>
    <a cdkCopyToClipboard="Alemario#1644" class="cursor-pointer" (click)="notification()"><i class="fab fa-discord"></i></a>
</div>