<div class="backdrop-blur z-50  flex flex-col sm:flex-row justify-center sm:justify-between items-center h-20 sm:h-16 fixed top-0 w-full overflow-hidden text-white">
    <div class="font-bold mx-5 text-2xl ">
        Portafolio
    </div>
    <div class="mx-5 text-xl sm:text-xl flex flex-row gap-5 font-semibold font-sans">
        <a href="#me" class="cursor-pointer">Sobre mi</a>
        <a href="#exp" class="cursor-pointer">Experiencia</a>
        <a href="#skills" class="cursor-pointer">Habilidades</a>
    </div>
</div>
