.box {
    padding: 1em 2em;
    margin: 0 .5em;
    background: #ddd;
    will-change: transform;
  }
  
.easeBox { transform: translateY(var(--ty)); }

.easeBox2 { transform: translateY(var(--ty)* 50 ); }

.prueba { transform: translateX( var(--tx)  ); }



.xxxx{
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 9px );
  -webkit-backdrop-filter: blur( 9px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}